<div class="ui internally celled centered grid">
<form method="POST" action="/new" class="ui form">
  <h1>New Message</h1>
  <div class="field">
    <label>User Name</label>
    <input type="text" name="user" placeholder="Input User Name here...">
  </div>

  <div class="field">
    <label>Message</label>
    <input type="text" name="text" placeholder="Let your voice heard here!">
  </div>
  <div>
    <button class="ui primary button">Submit</button>
    <a href="/" class="ui black button">Back to Home</a>
  </div>
</form>
</div>